
html, body {
  	margin: 0;
  	padding: 0;
	height:100%;
}
div,p,h1,h2{
	margin:0;
	padding:0;
	border:0;
	
}
/* span{ */
/* 	display: inline-block; */
/*  	vertical-align:text-bottom; */
/*   	line-height: normal; */
/*   	font-size:45px; */
/*   	color:white; */
/* } */
#wrapper{
	background:url(../index_bg.jpg);
	height:45%;
	width:100%;
	display:table;
	position: relative;
}
#division{
	margin-bottom:0px;
	height:2%;
	background-color:#d3d3d3;
}
#page_body{
	background-color:#e9e9e9;
	height: 53%;
}	
#title_div{
    vertical-align:middle;
    display:table-cell;
    text-align:center;
}
.button{
	display:inline;
	
}
#buttons{
	color:white;
	vertical-align:top;
    display:table-cell;
    text-align:right;
    position:absolute;
    top:0;
    right:0;
    padding:10px;
    border:red dashed 1px;
    font-size:x-large;
}
#ipServer{
	color:white;
	vertical-align:top;
    display:table-cell;
    text-align:right;
    position:absolute;
    bottom:0;
    right:0;
    padding:10px;
    border:red dashed 1px;
    font-size:x-large;
}
.title{
	color:#e9e9e9;
	font-size:50px;
	font-variant:small-caps;
	font-family:serif;
}
.title2{
	color:#e1e1e1;
	font-size:medium;
	font-family:Arial;
}
.body_divs{
	padding-left:3px;
	display: inline;
	float:left;
}
#body_one{
/* 	margin-left:40px */
	float:left;
	border:red 1px solid;
	height:100%;
	width:20%;
	position:relative;
	display: table;
}
#body_two{
	float:left;
	border:black 1px solid;
	width:59%;
	height:100%;
}
#body_three{
	height:100%;
	width:20%;
	border:blue 1px solid;
}
#menu_div{
	position:absolute;
	display: table-cell;
}

