<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head >
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/stylesheet.css"/>
    
	<script type="text/javascript" src="/js/external/jquery-1.11.2.js"></script>
    <script src="/js/external/sockjs-0.3.min.js"></script>
    <script src="/js/external/stomp.js"></script>
    
    
	<script src="/js/location-socket.js"></script>
	<script src="/js/google-maps.js"></script>
	
	<!--  Google maps api -->
	
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhtrzBPmmV-IhSWXeGyao7gfJtHG76jQg&amp;sensor=FALSE">
</script>
	
	<script type="text/javascript">
	function start() {
		  connect();
		  initialize();
		}
	</script>
</head>
<body onload="start()">
	<div id="wrapper">
		<div id="title_div">
			<h1 class="title">Arrived SMS</h1>
			<h2></h2>
			<h2 class="title2">Send sms to a friend after
							achieve the destination point of your adventure!</h2>

		</div>
		<div id="buttons">
				<p class="button">button1</p>
				<p class="button">button2</p>
				<p class="button">button3</p>
		</div>
		<div id="ipServer">
				<p id="ipServer" th:text="'Adres IP: ' + ${ipServer}" /> 
		</div>
	</div>
		<div id="division">
		</div>
		<div id="page_body" class="tmp">
			<div id="body_one" class="body_divs">
				<div class="menu_div">
					<p class="menu_button">button1</p>
					<p class="menu_button">button2</p>
					<p class="menu_button">button3</p>
					<p class="menu_button">button4</p>
<!-- 					 <button id="connect" onclick="connect();">Connect</button> -->
<!-- 					 <button id="disconnect" disabled="disabled" onclick="disconnect();">Disconnect</button> -->
				</div>
			</div>
			<div id="body_two" class="body_divs">
				<div align="left" class="wspolrzedne">
					<p class="paragraph1" id="paragraph1" th:text="'Długosc geograficzna:  ' " />
					<p class="paragraph1" id="paragraph12" th:text="'Brak aktualnego położenia'" />
				</div>
				<div align="left" class="wspolrzedne">
					<p class="paragraph2" id="paragraph2" th:text="'Szerokosc geograficzna:  ' " />
					<p class="paragraph2" id="paragraph21" th:text="'Brak aktualnego położenia'" />
				</div>
				<div id="map-canvas" style="width:300px; height:300px;"></div>
				
			</div>
			<div id="body_three" class="body_divs"></div>
		</div>




</body>
</html>